.material-icons.md-16 { font-size: 16px; vertical-align: text-bottom; }
.material-icons.md-18 { font-size: 18px; vertical-align: text-bottom; }
.material-icons.md-24 { font-size: 24px; vertical-align: text-bottom; }
.material-icons.md-36 { font-size: 36px; vertical-align: text-bottom;}
.material-icons.md-48 { font-size: 48px; }
